@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* We use the variables we set in tailwind.config.js */
  --background: #F3F2EC;
  --foreground: #1D1D1F;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* FORCE CONSOLAS TO BE BOLD EVERYWHERE */
code, .font-mono {
  font-weight: 700 !important; 
}